#{extends 'page.html' /}
#{set mainClass:'page' /}
#{set title:page.title /}
#{set description:page.description /}
#{set keywords:page.keywords /}

<article class="row-fluid" itemscope itemtype="http://schema.org/Article">
    <div class="span12">
        <header>
            <h1 itemprop="name">${page.title}</h1>
        </header>
        <section itemprop="articleBody"  id="${page.name}"  #{if controllers.Security.check("admin") }contenteditable="true"#{/if}>
            ${page.body.raw()}
        </section>
    </div>
</article>

#{cms.editPage pageName:page.name /}