#{extends 'page.html' /}
#{set mainClass:'page' /}
#{set title:page.title /}
#{set description:page.description /}
#{set keywords:page.keywords /}

<article class="row-fluid" itemscope itemtype="http://schema.org/Article">
    <div class="span12">
        <header>
            <h1 itemprop="name">${page.title}</h1>
        </header>
        <section itemprop="articleBody">


            <section id="my-card" class="row-fluid" itemtype="http://schema.org/Person" itemscope="">
                <div class="span8 offset2">
                    <div class="row-fluid">
                        <div class="span4"><img alt="Logo de Benoit Simard" itemprop="image" src="/public/images/bsimard.png"/>
                        </div>
                        <div class="span8">
                            <h2 itemprop="name">Beno&icirc;t Simard</h2>
                            <div id="my-profils">
                                <a href="https://www.twitter.com/logisima" title="Me suivre sur Twitter : @logisima" rel="me">
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="https://www.github.com/sim51" title="Mon profil Github : sim51" rel="me">
                                    <i class="icon-github-alt"></i>
                                </a>
                                <a href="http://www.linkedin.com/pub/beno%C3%AEt-simard/5/8a5/124" title="Mon profil Linked" rel="me">
                                    <i class="icon-linkedin"></i>
                                </a>
                                <a href="https://www.facebook.com/sim51" title="Mon profil Facebook" rel="me">
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="https://plus.google.com/u/0/105900084951233227875" title="Mon profil Google+" rel="me">
                                    <i class="icon-google-plus"></i>
                                </a>
                            </div>
                            <span itemprop="jobTitle">Chef de projet technique</span>

                            <div itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address">
                                <span itemprop="addressLocality">Nantes</span>,
                                <span itemprop="addressCountry">France</span>
                            </div>
                            <a itemprop="url" href="http://www.bsimard.com/">http://www.bsimard.com</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="row-fluid blockLight cv">
                <div class="span12">
                    <h3>Cursus</h3>
                    <div class="row-fluid">
                        <div class="span4">
                            <h4>2002-2007</h4>
                        </div>
                        <div class="span8">
                            <h5>Master en math&eacute;matiques et informatique appliqu&eacute;s &agrave; la logistique</h5>
                            <div itemscope="" itemtype="http://schema.org/EducationalOrganization">
                                <h6 itemprop="name">Institut des math&eacute;matiques appliqu&eacute;es (IMA)</h6>
                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="postalCode">49000</span>
                                    <span itemprop="addressLocality">Angers</span>,
                                    <span itemprop="addressCountry">France</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <h4>2001-2002</h4>
                        </div>
                        <div class="span8">
                            <h5>Classe pr&eacute;paratoire aux grades &eacute;coles en physique, technologie et science de l"ing&eacute;nieur</h5>
                            <div itemscope="" itemtype="http://schema.org/EducationalOrganization">
                                <h6 itemprop="name">Centre Charles de Foucault</h6>
                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="postalCode">49124</span>
                                    <span itemprop="addressLocality">Saint Barthelemy d'Anjour</span>,
                                    <span itemprop="addressCountry">France</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <h4>2001</h4>
                        </div>
                        <div class="span8">
                            <h5>Baccalaur&eacute;at scientifique, sp&eacute;cialit&eacute; math&eacute;matiques</h5>
                            <div itemscope="" itemtype="http://schema.org/EducationalOrganization">
                                <h6 itemprop="name">Lyc&eacute; Saint Martin</h6>
                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="postalCode">49000</span>
                                    <span itemprop="addressLocality">Angers</span>,
                                    <span itemprop="addressCountry">France</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="row-fluid blockLight cv">
                <div class="span12">
                    <h3>Expérience</h3>
                    <div class="row-fluid">
                        <div class="span4">
                            <h4>Depuis 2007</h4>
                        </div>
                        <div class="span8">
                            <h5>Chef de projet technique</h5>
                            <div itemscope="" itemtype="http://schema.org/Organization">
                                <h6 itemprop="name">Smile</h6>
                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="postalCode">44000</span>
                                    <span itemprop="addressLocality">Nantes</span>,
                                    <span itemprop="addressCountry">France</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <h4>2010 - 2013</h4>
                        </div>
                        <div class="span8">
                            <h5>Enseignant (vacataire)</h5>
                            <div itemscope="" itemtype="http://schema.org/EducationalOrganization">
                                <h6 itemprop="name">Institut des mathématiques appliquées</h6>
                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="postalCode">49000</span>
                                    <span itemprop="addressLocality">Angers</span>,
                                    <span itemprop="addressCountry">France</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                            <h4>2007</h4>
                        </div>
                        <div class="span8">
                            <h5>Stagiaire</h5>
                            <div itemscope="" itemtype="http://schema.org/EducationalOrganization">
                                <h6 itemprop="name">Khiplus</h6>
                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="postalCode">75020</span>
                                    <span itemprop="addressLocality">Paris</span>,
                                    <span itemprop="addressCountry">France</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </section>
    </div>
</article>

#{cms.editPage pageName:page.name /}